<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <p>
                A passionate and talented software developer with 10+ years of experience in developing web applications
                and
                services. Proficient in various programming languages, including JavaScript, Python, and experienced in
                developing applications using leading frameworks such as React, Angular, Vue, Next, Nuxt,
                Laravel, Django and Express. An excellent communicator who is capable of working in fast-paced
                environments
                and has a strong attention to detail.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="assets/img/profile-img.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Senior Frontend Web Developer</h3>
                <p class="fst-italic">
                    highly experienced professional who specializes in creating the user interface and user experience
                    for
                    websites and web applications. They possess strong technical skills in HTML, CSS, JavaScript, and
                    related
                    front-end technologies and frameworks, such as React, Angular, and Vue.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 October
                                    1991</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>www.example.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 941 295 9288</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Florida, USA</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>32</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor's
                                    Degree</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                <span>anthony.bartolotte.1010@gmail.com</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I've been working collaboratively with designers and other developers to build interactive and
                    responsive
                    web pages that are optimized for various devices and browsers. They are responsible for creating
                    visually
                    appealing and efficient code that is scalable and maintainable, as well as developing and
                    implementing
                    innovative front-end solutions to optimize website performance, accessibility, and user experience.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->