<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit
                in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Anthony Bartolotte</h4>
                    <p><em>
                            A passionate and talented software developer with 10+ years of experience in developing web
                            applications and services. Proficient in various programming languages, including
                            JavaScript, Python,
                            and experienced in developing applications using leading frameworks such as React, Angular,
                            Vue, Next,
                            Nuxt,
                            Laravel, Django and Express. An excellent communicator who is capable of working in
                            fast-paced
                            environments and has a strong attention to detail.</em></p>
                    <ul>
                        <li>Port Charlotte, FL</li>
                        <li>+1 941 295 9288</li>
                        <li>anthony.bartolotte.1010@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor's Degree</h4>
                    <h5>2011 - 2012</h5>
                    <p><em>Rice University, Houston, TX</em></p>
                    <p>Boasting a 300-acre tree-lined campus in Houston, Rice University is ranked among the nation’s
                        top 20
                        universities by U.S. News & World Report. Rice has a 6-to-1 undergraduate student-to-faculty
                        ratio, and
                        a residential college system, which supports students intellectually, emotionally and culturally
                        through
                        social events, intramural sports, student plays, lectures series, courses and student
                        government.
                        Developing close-knit, diverse college communities is a strong campus tradition, which is why
                        Rice is
                        highly ranked for best quality of life and best value among private universities.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Front-End Developer</h4>
                    <h5>2018 - 2023</h5>
                    <p><em>InVision, New York, US</em></p>
                    <ul>
                        <li>Designing and developing responsive websites and web applications, ensuring cross-browser
                            and
                            crossdevice compatibility</li>
                        <li>Developing usable and attractive user interfaces and mobile-first solutions using various
                            modern
                            front-end
                            frameworks such as React, Vue.js, Bootstrap and CSS Grid</li>
                        <li>Conducting code reviews, testing and debugging, and collaborating with Quality
                            Assurance(QA),
                            back-end
                            developers and clients to deliver high-quality web projects on time within budget</li>
                        <li>Contributed to the development of technical documentation for web applications and processes
                        </li>
                        <li>Mentored junior developers and assisted in creating their professional development plan</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Front-End Developer</h4>
                    <h5>2014 - 2018</h5>
                    <p><em>Treehouse, Florida, US</em></p>
                    <ul>
                        <li>Collaborated with back-end developers to improve performance and back-end interaction of web
                            apps
                        </li>
                        <li>Worked with project managers to build and maintain website and web application functional
                            specifications</li>
                        <li>Developed custom content management systems to manage and edit website content</li>
                        <li>Conducted Usability testing and improved the overall user experience</li>
                        <li>Contributed to the development of front-end coding standards for company-wide use</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Junior Front-End Developer</h4>
                    <h5>2012 - 2014</h5>
                    <p><em>Sentry, San Francisco, US</em></p>
                    <ul>
                        <li>Designed and developed modern, responsive websites and applications using HTML, CSS, and
                            JavaScript
                        </li>
                        <li>Assisted in code reviews, testing, and debugging, and revision of documentation</li>
                        <li>Contributed to the front-end development of award-winning web projects and mobile apps</li>
                        <li>Used Agile methodologies for collaboration and source control with Git</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->